@using TravelTripProject.Models.Entities
@model List<Blog>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Blog Listesi</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Başlık</th>
        <th>Tarih</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Id</td>
            <td>@x.Header</td>
            <td>@x.BlogDate</td>
            <td><a href="/Admin/BlogDelete/@x.Id" class ="btn btn-danger">Sil</a> </td>
            <td><a href="/Admin/BlogGet/@x.Id" class="btn btn-warning">Güncelle</a></td>
            <td><a href="#" class="btn btn-default">Detaylar</a></td>
        </tr>
    }
</table>
<a href="/Admin/NewBLog/" class="btn btn-primary">Yeni Blog</a> 
